[connection]
id={{ item.key }}
uuid={{ item.key | to_uuid }}
type=vpn
autoconnect=false
permissions=

[vpn]
gateway={{ item.value.gateway }}
ipsec-enabled=yes
ipsec-psk={{ item.value.ipsec_psk }}
ipsec-remote-id={{ item.value.remote_id if 'remote_id' in item.value.keys() else ''}}
password-flags=0
user={{ item.value.user }}
service-type=org.freedesktop.NetworkManager.l2tp

[ipv4]
{% if item.value.search_domains is defined %}
dns-search={{ item.value.search_domains | join(';') }};
{% else %}
dns-search=
{% endif %}
method=auto

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
ip6-privacy=0
method=auto

[proxy]
