[connection]
id={{ item.key }}
uuid={{ item.key | to_uuid }}
type=vpn
permissions=

[vpn]
ca=/etc/pki/tls/certs/ca-bundle.crt
compress=lzo
connection-type=password
dev=tun
dev-type=tun
password-flags=1
remote={{ item.value.remote }}
remote-cert-tls=server
username={{ item.value.username }}
service-type=org.freedesktop.NetworkManager.openvpn

[ipv4]
dns-search=
method=auto

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
ip6-privacy=0
method=auto

# vim: ft=dosini
