[Desktop Entry]
Encoding=UTF-8
Version=0.0.1
Type=Application
Name=Plex
Comment=Plex
Exec=google-chrome --new-window {{ plex_url }}
StartupNotify=false
Terminal=false
Hidden=false
Icon={{ plex_icon }}
