[defaults]
hostfile=inventory.yml
library=/usr/share/ansible:library
roles_path=roles
#vault_password_file=vault_pass
become_method=sudo
ask_vault_pass=True

#[ssh_connection]
#pipelining=False
#ssh_args = -o ForwardAgent=yes
