"*":
  core:
    disabledPackages: [
      "metrics"
      "about"
      "tree-view"
    ]
    telemetryConsent: "no"
  editor:
    backUpBeforeSaving: true
    softWrap: true
  "exception-reporting":
    userId: "63f2d3f5-9bc0-4566-9787-30445eaa2b60"
  welcome:
    showOnStartup: false
