<?xml version="1.0" encoding="utf-8"?>
<ipset type="hash:{{ item.type }}">
  <description>{{ item.description }}</description>
{% for entry in item.entries %}
  <entry>{{ entry }}</entry>
{% endfor %}
</ipset>
