[remmina]
disableclipboard=0
ssh_auth=0
clientname=
quality=0
ssh_charset=
ssh_privatekey=
console=0
resolution=1400x800
{% if item.group is defined %}
group={{ item.group }}
{% else %}
group=
{% endif %}
password=.
name={{ item.name }}
ssh_loopback=0
shareprinter=0
ssh_username=
ssh_server=
security=
protocol={{ item.protocol }}
execpath=
sound=off
exec=
ssh_enabled=0
username={{ item.username }}
sharefolder=
domain=
server={{ item.server }}
colordepth=24
viewmode=1
window_maximize=1
