[Desktop Entry]
Version=1.0
Type=Application
Name=Sublime Text
GenericName=Text Editor
Comment=Sophisticated text editor for code, markup and prose
Exec={{ sublime_root }}/{{ sublime_version }}/sublime_text %F
Terminal=false
MimeType=text/plain;
Icon={{ sublime_root }}/{{ sublime_version }}/Icon/128x128/sublime-text.png
Categories=TextEditor;Development;
StartupNotify=true
Actions=Window;Document;
