[Desktop Entry]
Version=1.0
Type=Application
Name=Sublime Text
GenericName=Text Editor
Comment=Sophisticated text editor for code, markup and prose
Exec={{ sublime_root }}/sublime_text_{{ sublime_release }}/sublime_text %F
Terminal=false
MimeType=text/plain;
Icon={{ sublime_root }}/sublime_text_{{ sublime_release }}/Icon/128x128/sublime-text.png
Categories=TextEditor;Development;
StartupNotify=true
Actions=Window;Document;
