[Desktop Entry]
Name=Franz
Comment=Franz is your messaging app / former Emperor of Austria and combines chat & messaging services into one application. Franz currently supports Slack, WhatsApp, WeChat, HipChat, Facebook Messenger, Telegram, Google Hangouts, GroupMe, Skype and many more. You can download Franz for free for Mac & Windows.
Exec=/opt/franz/franz-{{ franz_version }}/franz
Terminal=false
Type=Application
Icon=/opt/franz/franz.png
StartupWMClass=Franz
MimeType=x-scheme-handler/franz;
Categories=Network;InstantMessaging;
