[Desktop Entry]
Version=1.0
Name=Kodi media center
GenericName=Media center
Comment=Manage and view your media
Exec=kodi
Icon=kodi
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;

Actions=Fullscreen;Standalone;

X-Desktop-File-Install-Version=0.22
