<gconfentryfile>
  <entrylist base="/apps/docky-2">
    <entry>
      <key>Docky/DockController/ActiveDocks</key>
      <value>
        <list type="string">
            <value>
              <string>Dock1</string>
            </value>
        </list>
      </value>
    </entry>
    <entry>
      <key>Docky/DockController/CompositeCheckEnabled</key>
      <value>
        <bool>true</bool>
      </value>
    </entry>
    <entry>
      <key>Docky/Interface/AutohideManager/UnhideDelay</key>
      <value>
        <int>0</int>
      </value>
    </entry>
    <entry>
      <key>Docky/Interface/AutohideManager/UpdateDelay</key>
      <value>
        <int>200</int>
      </value>
    </entry>
    <entry>
      <key>Docky/Interface/DockDragTracker/LockDrags</key>
      <value>
        <bool>false</bool>
      </value>
    </entry>
    <entry>
      <key>Docky/Interface/DockDragTracker/ProvidersAcceptDrops</key>
      <value>
        <bool>true</bool>
      </value>
    </entry>
    <entry>
      <key>Docky/Interface/DockPreferences/FirstRun</key>
      <value>
        <bool>false</bool>
      </value>
    </entry>
    <entry>
      <key>Docky/Interface/DockPreferences/Dock1/Autohide</key>
      <value>
        <string>None</string>
      </value>
    </entry>
    <entry>
      <key>Docky/Interface/DockPreferences/Dock1/FadeOnHide</key>
      <value>
        <bool>false</bool>
      </value>
    </entry>
    <entry>
      <key>Docky/Interface/DockPreferences/Dock1/FadeOpacity</key>
      <value>
        <float>0</float>
      </value>
    </entry>
    <entry>
      <key>Docky/Interface/DockPreferences/Dock1/HotAreaPadding</key>
      <value>
        <int>24</int>
      </value>
    </entry>
    <entry>
      <key>Docky/Interface/DockPreferences/Dock1/IconSize</key>
      <value>
        <int>32</int>
      </value>
    </entry>
    <entry>
      <key>Docky/Interface/DockPreferences/Dock1/Launchers</key>
      <value>
        <list type="string">
            <value>
              <string>file:///usr/share/applications/xfce4-terminal.desktop</string>
            </value>
            <value>
              <string>file:///usr/share/applications/google-chrome.desktop</string>
            </value>
            <value>
              <string>file:///usr/local/share/applications/Thunar.desktop</string>
            </value>
        </list>
      </value>
    </entry>
    <entry>
      <key>Docky/Interface/DockPreferences/Dock1/MonitorNumber</key>
      <value>
        <int>0</int>
      </value>
    </entry>
    <entry>
      <key>Docky/Interface/DockPreferences/Dock1/PanelMode</key>
      <value>
        <bool>false</bool>
      </value>
    </entry>
    <entry>
      <key>Docky/Interface/DockPreferences/Dock1/Plugins</key>
      <value>
        <list type="string">
            <value>
              <string>Desktop</string>
            </value>
        </list>
      </value>
    </entry>
    <entry>
      <key>Docky/Interface/DockPreferences/Dock1/Position</key>
      <value>
        <string>Bottom</string>
      </value>
    </entry>
    <entry>
      <key>Docky/Interface/DockPreferences/Dock1/SortList</key>
      <value>
        <list type="string">
            <value>
              <string>/usr/share/applications/xfce4-terminal.desktop</string>
            </value>
            <value>
              <string>Desktop</string>
            </value>
        </list>
      </value>
    </entry>
    <entry>
      <key>Docky/Interface/DockPreferences/Dock1/ThreeDimensional</key>
      <value>
        <bool>true</bool>
      </value>
    </entry>
    <entry>
      <key>Docky/Interface/DockPreferences/Dock1/WindowManager</key>
      <value>
        <bool>true</bool>
      </value>
    </entry>
    <entry>
      <key>Docky/Interface/DockPreferences/Dock1/ZoomPercent</key>
      <value>
        <float>2</float>
      </value>
    </entry>
    <entry>
      <key>Docky/Items/ColoredIconDockItem/DockyItem</key>
      <value>
        <int>8</int>
      </value>
    </entry>
    <entry>
      <key>Docky/Items/DockyItem/HoverText</key>
      <value>
        <string>Docky</string>
      </value>
    </entry>
    <entry>
      <key>Docky/Items/DockyItem/Hue</key>
      <value>
        <int>0</int>
      </value>
    </entry>
    <entry>
      <key>Docky/Items/DockyItem/ShowDockyItem</key>
      <value>
        <bool>true</bool>
      </value>
    </entry>
    <entry>
      <key>Docky/Items/DockyItem/ShowQuit</key>
      <value>
        <bool>true</bool>
      </value>
    </entry>
    <entry>
      <key>Docky/Items/DockyItem/ShowSettings</key>
      <value>
        <bool>true</bool>
      </value>
    </entry>
    <entry>
      <key>Docky/Items/FileApplicationProvider/AllowPinToDock</key>
      <value>
        <bool>true</bool>
      </value>
    </entry>
    <entry>
      <key>Docky/Items/WnckDockItem/CurrentDesktopOnly</key>
      <value>
        <bool>false</bool>
      </value>
    </entry>
    <entry>
      <key>Docky/Items/WnckDockItem/ShowHovers</key>
      <value>
        <bool>true</bool>
      </value>
    </entry>
    <entry>
      <key>Docky/Services/ThemeService/Theme</key>
      <value>
        <string>Air</string>
      </value>
    </entry>
    <entry>
      <key>Docky/Services/ThemeService/UrgentHue</key>
      <value>
        <int>150</int>
      </value>
    </entry>
  </entrylist>
</gconfentryfile>
